<p id="notice"><%= notice %></p>

<h1>Coleccion Imagenes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coleccion_imagenes.each do |coleccion_imagene| %>
      <tr>
        <td><%= coleccion_imagene.nombre %></td>
        <td><%= coleccion_imagene.descripcion %></td>
        <td><%= coleccion_imagene.categoria %></td>
        <td><%= link_to 'Show', coleccion_imagene %></td>
        <td><%= link_to 'Edit', edit_coleccion_imagene_path(coleccion_imagene) %></td>
        <td><%= link_to 'Destroy', coleccion_imagene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coleccion Imagene', new_coleccion_imagene_path %>
